*{
    font-family:sans-serif ;
    text-decoration: none !important;
    
}
body{
    overflow: hidden;
    z-index: 1;
    
}

nav{

    height: 100vh;
}
#sideNavBar{
    position: fixed;
    top: 0;
    bottom: 0;
    left:0 ;
    background-color: black;
    width: 200px;
    z-index: 999999999999999999999999999;

}

#sideNavBar ul{
    position: relative;
    top: 200px;
}

#slideNavBar{
    top: 0;
    bottom: 0;
    left: 0;
    width: 60px;
    z-index: 999999999999999999999999999;

}
#sideNavBar ul li{
    list-style-type: none;
    cursor: pointer;
    
}

#sideNavBar ul li a{
    color: white;
    font-size: 16px;
    transition: all .3s;
}
#open{
    color: white;
    font-size: 30px;
    cursor: pointer;
    position: relative;
}

nav ul li a:hover{
color: RGBA(214, 46, 51, 0.4);
}
#closeNav{
    cursor: pointer;
    top: 10%;
    right: 15%;
    transition: all .3s;

}
.mealCard{
    cursor: pointer;
}

#closeNav:hover{
    color: RGBA(214, 46, 51, 0.4) !important;
}
.caption{
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    z-index: 9;
    background-color: rgba(255, 255, 255, .6);

    height: 100%;
}
.mealCard p{
    color:black !important;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
}
.caption{
    transition: all .5s;
}


.mealCard:hover .caption{
    top: 0;
}
.search{
    caret-color: white;
    position: relative !important;
    z-index: 99999999999999999999999999 !important;
    
}
.search::placeholder{
    color: rgb(86, 85, 85);
}

#varContent{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99999999;

}
.instructions{
    font-size: 16px;
}
.ingredient{
    background-color: #CFF4FC;
    border-radius: 5px;
    color: RGB(5, 81, 96)    ;
}
.tag{
    background-color: #F8D7DA    ;
    border-radius: 5px;
    color:#842029    ;
}

.areaCard p{
    color:rgb(249, 246, 246) !important;
    font-size: 24px;
    font-weight: 600;
}
.areaCard i{
    color:rgb(249, 246, 246) !important;
    font-size: 64px;
    
}

.pointer{
    cursor: pointer;
}
#loadScreen{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999999999999999;
    display: flex;
}
#searchLoadScreen{
    position: fixed;
    top: 18%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999999999999999;
    display: none;
}
.item{
    position: relative;
}